#wrapper {
    margin: 0 auto;
    width: 80%;
    font-family: sans-serif;
}
input {
    width: 30px;
}

tr:hover {
    background-color: lightskyblue;
}

.disabled {
    background-color: gainsboro;
}
#adjmat .disabled button{
    cursor: not-allowed;
}

#adjmat button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#adjmat button::selection {
    background-color: none;
}

#adjmat td.active {
    background-color:paleturquoise;
}

img {
    float: right;
}

table {
    border-collapse: collapse;
}
.row {
    border-right: solid 1px;
    font-weight: 700;
}
.col-header {
    border-bottom: solid 1px;
}