#wrapper {
    margin: 0 auto;
    width: 80%;
    font-family: sans-serif;
}
input {
    width: 30px;
}

tr:hover {
    background-color: lightskyblue;
}

.disabled {
    background-color: gainsboro;
}
#adjmat .disabled button{
    cursor: not-allowed;
}

#adjmat button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#adjmat button::selection {
    background-color: none;
}

td {
    padding: 0;
}

th {
    padding: 0 5px;
}

#adjmat td.active {
    background-color:paleturquoise;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
}

table {
    border-collapse: collapse;
    font-size: 1.5em;
}
.row {
    border-right: solid 1px;
    font-weight: 700;
}
.col-header {
    border-bottom: solid 1px;
}

.node-btn {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

form {
    display: inline-block;
}

.hidden {
    display: none;
}

button {
    cursor: pointer;
}

li {
    margin: 10px auto;
}