<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Graph Builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">
</head>
<div id="wrapper">

    <body>
        <h1>Graph Builder</h1>
        <p>{{content}}</p>
        <!-- add edge -->
        <form action="addedge" method="GET">
            <input type="text" id="node_label1" name="label1" placeholder="From">
            <input type="text" id="node_label2" name="label2" placeholder="To">
            <button type="submit" id="submit">Add Edge</button>
        </form>
        </br>
        <!-- remove edge -->
        <form action="removeedge" method="GET">
            <input type="text" id="node_label1" name="label1" placeholder="From">
            <input type="text" id="node_label2" name="label2" placeholder="To">
            <button type="submit" id="submit">Remove Edge</button>
        </form>
        </br>
        <!-- add node -->
        <form action="addnode" method="GET">
            <input type="text" id="node_label" name="label" placeholder="Label">
            <button type="submit" id="submit">Add Node</button>
        </form>
        </br>
        <!-- remove node -->
        <form action="removenode" method="GET">
            <input type="text" id="node_label" name="label" placeholder="Label">
            <button type="submit" id="submit">Remove Node</button>
        </form>
        </br>
        <!-- clear graph -->
        <form action="clear" method="GET">
            <button type="submit" id="submit">Clear Graph</button>
        </form>
        <img src="{{filepath}}">
        <div>
            <h2>Adjaceny Matrix Array</h3>
                <p>{{matrix}}</p>

            <h2>JSON Graph Data</h3>
                <p>{{data}}</p>
        </div>

    </body>
</div>
<!--end wrapper-->

</html>